.root{
    -fx-background-image: url("menuBackground.png");
}

.label{
    -fx-text-fill: #FBF46D;
}

.button{
    -fx-background-color: #d5f4e6;
    -fx-background-radius: 5em;
    -fx-font-color: #000000;
}

.button: hover{
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
}

